## Code is done on Google Colab, so some dependencies might not be already installed

Install  Tweepy

In [0]:
!pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.6/dist-packages (3.6.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.2.0)
Requirement already satisfied: PySocks>=1.5.7 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.6.8)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.11.0)
Requirement already satisfied: requests>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from tweepy) (2.18.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.0.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (2019.3.9)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (1.22)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (3.0.4)

Install Jsonlines

In [0]:
!pip install jsonlines

Collecting jsonlines
  Downloading https://files.pythonhosted.org/packages/4f/9a/ab96291470e305504aa4b7a2e0ec132e930da89eb3ca7a82fbe03167c131/jsonlines-1.2.0-py2.py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from jsonlines) (1.11.0)
Installing collected packages: jsonlines
Successfully installed jsonlines-1.2.0

Import Required Libraries

In [0]:
import json
import jsonlines
import numpy as np

## Function to get Tweets

In [0]:
import tweepy 
import pandas as pd
  
"""
Enter you credentials provided by Twitter in the variables given below
"""
consumer_key = "#####" 
consumer_secret = "#####"
access_key = "#####"
access_secret = "#####"
  
  
"""
Function to extract Tweets
"""

def get_tweets(username): 
          
        
        auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
        auth.set_access_token(access_key, access_secret) 
  
        api = tweepy.API(auth) 
      
        # Empty list "tmp" 
        tmp=[]
    
        # Maximum limit is of 200 tweets
      
        count_of_tweets=200
        tweets = api.user_timeline(screen_name=username, count=count_of_tweets) 
        
        # Dump Tweets in a .jsonl file
     
        for twt in tweets: 
          tmp.append(twt._json)  
          
        # Since, we've not given any directory for file thus our file will be 
        #created in the current directory only          
        
        with jsonlines.open('data.jsonl', 'w') as f:
          f.write(tmp)

## Get Tweets from *@midasIIITD* and save them in .jsonl file

In [0]:
get_tweets('midasIIITD')

## Function to get number of Pictures/Images in every tweet

In [0]:
def get_number_of_images(tweet):
  
  return [len([pic for pic in ix['extended_entities']['media'] if pic['type'] == 'photo'])
                        if 'extended_entities' in ix else None for ix in tweet]

## Loading Data from "data.jsonl" file to "tweet" variable . The data loaded is in the form of a List

In [0]:

def get_tweets_from_json(path):
  
  with jsonlines.open(path,'r') as f:
    tweet = f.read()
    
  print(type(tweet))
  
  df = pd.DataFrame([[twt['text'] , twt['created_at'] , twt['favorite_count'] , twt['retweet_count']] for twt in tweet] , 
                    columns = ['Tweet','Created_at','Number of Likes/Favorites','Retweets'])
  
  print(df.head())
  
  df['Number_of_Images'] = get_number_of_images(tweet)
  
  return df

## Converting DataFrame to .csv file named as "Tweets.csv"

In [0]:
df = get_tweets_from_json('./data.jsonl')
df.to_csv('Tweets.csv',header = True, index = False)

<class 'list'>
                                               Tweet  \
0  Clarification: Our earlier post which indicate...
1  RT @IIITDelhi: Applications open for MTech (CB...
2  RT @IIITDelhi: We are delighted to share that ...
3  RT @Harvard: Professor Jelani Nelson founded A...
4  RT @emnlp2019: For anyone interested in submit...

                       Created_at  Number of Likes/Favorites  Retweets
0  Wed Apr 10 09:01:29 +0000 2019                          0         0
1  Wed Apr 10 04:51:26 +0000 2019                          0         1
2  Tue Apr 09 16:45:07 +0000 2019                          0        14
3  Tue Apr 09 05:04:27 +0000 2019                          0        36
4  Tue Apr 09 05:04:11 +0000 2019                          0        17

## Reading data from saved CSV file

In [0]:
data = pd.read_csv('./Tweets.csv')

In [0]:
type(data)

pandas.core.frame.DataFrame

## Displaying Data stored in CSV file

In [0]:
data.head(10)

,Tweet,Created_at,Number of Likes/Favorites,Retweets,Number_of_Images
0,Clarification: Our earlier post which indicate...,Wed Apr 10 09:01:29 +0000 2019,0,0,NaN
1,RT @IIITDelhi: Applications open for MTech (CB...,Wed Apr 10 04:51:26 +0000 2019,0,1,NaN
2,RT @IIITDelhi: We are delighted to share that ...,Tue Apr 09 16:45:07 +0000 2019,0,14,NaN
3,RT @Harvard: Professor Jelani Nelson founded A...,Tue Apr 09 05:04:27 +0000 2019,0,36,NaN
4,RT @emnlp2019: For anyone interested in submit...,Tue Apr 09 05:04:11 +0000 2019,0,17,NaN
5,RT @multimediaeval: Announcing the 2019 MediaE...,Mon Apr 08 19:38:09 +0000 2019,0,15,NaN
6,"Many Congratulations to @midasIIITD student, S...",Mon Apr 08 07:08:12 +0000 2019,18,2,NaN
7,@midasIIITD thanks all students who have appea...,Mon Apr 08 03:27:42 +0000 2019,5,0,NaN
8,"@himanchalchandr Meanwhile, complete CV/NLP ta...",Sun Apr 07 14:17:29 +0000 2019,0,0,NaN
9,@sayangdipto123 Submit as per the guideline ag...,Sun Apr 07 14:17:09 +0000 2019,0,0,NaN